<!DOCTYPE html>
<html>
  <head>
    <title>ChatOnCable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-head">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'WebChat', root_path, class: 'navbar-brand' %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "联系人", "#" %></li>
              <li><%= link_to "聊天记录", "#" %></li>
              <% if current_user %>
                <li><%= link_to "Hi, #{current_user.username}", root_path %></li>
                <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <% if notice %>
        <p class="notice alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="content" style="margin-top: 71px;">
        <div class="col-md-2" style="position: fixed; top: 71px; left: 0;">
          <% if user_signed_in? %>
            <h5>Chatrooms</h5>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %></li>
                <% end %>
            </ul>
          <% end %>
        </div>
        <div class="col-md-10 col-md-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
